*.brazilcli
*.running.properties.txt
*\~
*.mobi
**/*.DS_Store
AWSDocsSphinxTheme/
AwsSphinxSharedContent/
aws-doc-shared-content/
mobile-hub/
build/
doc_output/

#awsmobilejs
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info